##### Crawl data from PDF which downlaoded from Bursa Malaysia website.
##### Identify the Segment & Warrant data to crawl.

In [1]:
import tabula
import numpy as np
import pandas as pd
from pandas import DataFrame
from PyPDF2 import PdfFileReader, PdfFileWriter

## Segment info

In [2]:
df = tabula.read_pdf(r"C:\Users\lauti04\Desktop\Pcode\Sem4\DataMining\data mining project\Milestone6\Segment_Warrant_data\Securities_Equities_Year_End_Closing_Prices_2018.pdf",pages='1-29')

In [3]:
df.head()

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
0,Code,NaN,NaN,NaN,NaN,Price
1,NaN,NaN,NaN,NaN,NaN,(RM)
2,0001,SCOMNET,SUPERCOMNET TECHNOLOGIES BHD,ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES,0.560
3,0002,KOTRA,KOTRA INDUSTRIES BHD,MAIN MARKET,HEALTH CARE,1.700
4,0005,UCREST,UCREST BERHAD,ACE MARKET,TECHNOLOGY,0.265

In [4]:
segment = pd.DataFrame(df)
segment.head()

,Stock,Stock Name,Stock Long Name,Board,Sector,Closing
0,Code,NaN,NaN,NaN,NaN,Price
1,NaN,NaN,NaN,NaN,NaN,(RM)
2,0001,SCOMNET,SUPERCOMNET TECHNOLOGIES BHD,ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES,0.560
3,0002,KOTRA,KOTRA INDUSTRIES BHD,MAIN MARKET,HEALTH CARE,1.700
4,0005,UCREST,UCREST BERHAD,ACE MARKET,TECHNOLOGY,0.265

In [5]:
segment = segment[['Stock','Stock Name','Stock Long Name','Board','Sector']]
segment.Stock = segment.Stock.apply('="{}"'.format)
segment = segment.dropna()
segment = segment.drop_duplicates(subset ="Stock Name")
segment.head()

,Stock,Stock Name,Stock Long Name,Board,Sector
2,"=""0001""",SCOMNET,SUPERCOMNET TECHNOLOGIES BHD,ACE MARKET,INDUSTRIAL PRODUCTS & SERVICES
3,"=""0002""",KOTRA,KOTRA INDUSTRIES BHD,MAIN MARKET,HEALTH CARE
4,"=""0005""",UCREST,UCREST BERHAD,ACE MARKET,TECHNOLOGY
5,"=""0006""",PINEAPP,PINEAPPLE RESOURCES BHD,ACE MARKET,TECHNOLOGY
6,"=""0007""",PUC,PUC BERHAD,ACE MARKET,TELECOMMUNICATIONS & MEDIA

## Warrant Information

In [6]:
path = r"C:\Users\lauti04\Desktop\Pcode\Sem4\DataMining\data mining project\Milestone6\Segment_Warrant_data\securities_equities_call_warrants.pdf"

In [7]:
df2 = pd.DataFrame([])
reader = PdfFileReader(open(path,mode='rb'))
n =  reader.getNumPages()
print("number of pages:",n)

for i in range(1,n):
        df = tabula.read_pdf(path,pages=i,sort=True)
        df.Stock = df.Stock.apply('="{}"'.format)
        df=df.dropna()
        df= df.drop_duplicates(subset ="Stock")
        df.reset_index(drop=True)
        df2 = df2.append(df)

number of pages: 13

In [8]:
df2 = df2[["Stock","Unnamed: 3","Conversion"]]
df2 = df2.rename(columns={'Unnamed: 3':'Security_type'})
df2['Board'] ='STRCWARR'

In [9]:
df2.head()

       Stock  Security_type Conversion     Board
2  ="639914"  Call WARRANTS    2 for 1  STRCWARR
3  ="688828"  Call WARRANTS    4 for 1  STRCWARR
4  ="688829"  Call WARRANTS    4 for 1  STRCWARR
5  ="688830"  Call WARRANTS    5 for 1  STRCWARR
6  ="688831"  Call WARRANTS    5 for 1  STRCWARR

In [10]:
segment.to_csv('segment_info.csv',index=False)  
df2.to_csv('warrant_info.csv',index=False)